.features-block {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .features-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .features-list-item {
    max-width: 270px;
  
  &:not(:last-child) {
    margin-right: 30px;
  }
}
  
  .features-icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
  }
  .features-list-icon {
    width: 70px;
    height: 70px;
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .features-list-title {
    @include font(14px, 700, 16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--title-color);
  
    margin-bottom: 20px;
  }
  
  .features-list-description {
    @include font(14px, 400, 24px);
    letter-spacing: 0.03em;
  
    color: var(--text-color);
  }