.header {
  //  /*padding-top: 27px;
  //  padding-bottom: 27px;*/
  //  border: 1px solid var(--border-color-section);

  //}

  //  .navigation {
  //    display: flex;
  //    align-items: center;

  & .logo-link {
    padding-top: 16px;
    padding-bottom: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.blue-part {
  color: var(--accent-color);
}
.black-part {
  color: var(--title-color);
  margin-right: 90px;
}
.white-part {
  color: var(--background-color);
}

@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }

  .contact-list {
    display: none;
  }
  .burger-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .burger-icon,
  .mobile-close-icon {
    width: 24px;
    height: 16px;
  }

  .mobile-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    max-width: 100vw;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-200%);
    padding: 48px 40px;
    background-color: var(--background-color);

    transition: transform 500ms linear;
  }

  .mobile-menu.is-open {
    transform: translateX(-50%) translateY(0%);
  }

  .mobile-menu-nav {
    display: flex;
    flex-direction: column;

    align-items: baseline;
    margin-bottom: 302px;
  }
  .mobile-menu-nav-link {
    @include font(40px, 500, 47px);
    letter-spacing: 0.02em;

    color: #212121;
  }
  .active {
    color: var(--accent-color);
  }

  .mobile-menu-nav-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-contact-list {
    display: flex;
    flex-direction: column;

    align-items: baseline;
    padding-bottom: 64px;
  }

  .mobile-contact-list-phone {
    @include font(34px, 500, 40px);
    letter-spacing: 00.02em;
    color: var(--accent-color);
    margin-bottom: 32px;
  }

  .mobile-contact-list-mail {
    @include font(24px, 500, 28px);
    letter-spacing: 00.02em;
    color: #757575;
    margin-bottom: 64px;
  }

  .mobile-social-item {
    display: inline-flex;
    align-items: center;
    position: relative;

    &:not(:first-child) {
      margin-left: 20px;
    }
    &:not(:last-child)::after {
      position: absolute;
      content: "";
      right: -10px;
      top: 10px;
      height: 0px;
      width: 22px;

      border: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
      margin-right: -12px;
      margin-bottom: 48px;
    }
  }

  .mobile-social-list-link {
    @include font(18px, 500, 22px);
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }

  .mobile-close-btn {
    position: absolute;
    top: 10px;
    right: 8px;
    background-color: transparent;
    border: none;
    padding: 0;

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation-list {
    display: flex;
    align-items: center;
  }

  .contact-list {
    display: flex;
    align-items: center;
  }
}

/* стилизация навигации */
@media screen and (min-width: 1200px) {
  .navigation-list-item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .navigation-list-link {
    position: relative;
    font-style: normal;
    @include font(14px, 500, 16px);

    letter-spacing: 0.02em;
    padding-top: 31px;
    padding-bottom: 31px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: #212121;

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .active {
    color: var(--accent-color);

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      margin-top: 28px;
      content: "";
      display: block;
      height: 4px;
      width: 100%;
      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }

  /* стилизация контактов*/

  .contact-list {
    margin-left: auto;
  }
  .contact-list-link {
    display: flex;
    padding-top: 31px;
    padding-bottom: 31px;
    align-items: center;

    @include font(14px, 500, 16px);

    letter-spacing: 0.02em;

    color: var(--text-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);

      & .contact-list-icon,
      & .contact-list-icon {
        fill: var(--accent-color);
      }
    }
  }
  .contact-list-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 48px;
    }
  }
  .contact-list-icon {
    fill: var(--text-color);
    margin-right: 5px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .smart-phone {
    width: 10px;
    height: 16px;
  }

  .envelope {
    width: 16px;
    height: 12px;
  }

  .contact-list-icon-envelope {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 16px;
    height: 12px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-list-icon-smart-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 10px;
    height: 16px;
    fill: #757575;
  }
}
