:root {
    --text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196f3;
    --background-color: #ffffff;
    --background-color-additional: #2f303a;
    --border-color-section: #ececec;
    --border-color-element: #eeeeee;
    --background-color-section: #f5f4fa;
    --hover-background-color: #188ce8;
  }